<html>
<body>

    <form action="/demo" method="POST">
        <select id = "operation" , name="operation">
        <option value="add">add</option>
        <option value="add">substract</option>
        <option value="add">multiplication</option>
        <option value="add">divide</option>
        </option>
        </select>
        <input type="text" name="num1" id="num1">
        <input type="text" name="num2" id="num1">
        <input type="submit" value="calculate">
    </form>

</body>
</html>